<p id="notice"><%= notice %></p>

<h1>User list</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Blacklist</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.email %></td>
        <td><%= u.nom %></td>
        <td><%= u.prenom %></td>
        <td><%= u.blacklisted%></td>
        <td><%= link_to 'Edit', edit_user_registration_path(@user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
