<%= form_with(model: agenda, local: true) do |f| %>

  <div class="row">
      <div class="col-5">
        <%= f.label :start %>
        <%= f.datetime_local_field :start, class: "form-control", placeholder: "Debut" %>
      </div>
      <div class="col-5">
        <%= f.label :end %>
        <%= f.datetime_local_field :end, class: "form-control", placeholder: "Fin" %>
      </div>

      <div class="col-2">
        <%= f.label "" %>
        <%= f.submit "Valider", class: "btn btn-primary" %>
      </div>
  </div>
<% end %>
