<p id="notice"><%= notice %></p>

<h1>Agendas</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>

  <tbody>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= agenda[:start] %></td>
        <td><%= agenda[:end] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= week_calendar(attribute: :start, events: @agendas) do |date, meeting| %>
  <%= date %>

  <% meeting.each do |m| %>
    <div><%= m[:start].hour %>:<%= m[:start].min %> - <%= m[:end].hour %>:<%= m[:end].min %></div>
    <div><%= @rela[m[:test_intervention_id]][:address] %> - <%= @rela[m[:test_intervention_id]][:bat] %> - <%= @rela[m[:test_intervention_id]][:orientation] %></div>
  <% end %>


<% end %>