<%= form_with(model: test_intervention, local: true) do |form| %>
  <% if test_intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_intervention.errors.count, "error") %> prohibited this test_intervention from being saved:</h2>

      <ul>
      <% test_intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :address, class: "col-sm-2 col-form-label" %>
    <%= form.text_field :address, class: "form-control col-sm-4" %>
  </div>

  <div class="form-group row">
    <%= form.label :bat, class:"col-sm-2 col-form-label"%>
    <%= form.text_field :bat, class: "form-control col-sm-4" %>
  </div>

  <div class="form-group row">
    <%= form.label :orientation, class:"col-sm-2 col-form-label"%>
    <%= form.select :orientation, options_for_select([['nord'], ['sud'], ['est'], ['ouest'], ['nord_est'], ['nord_ouest'], ['nord_est_est'], ['nord_nord_est'], ['nord_ouest_ouest'], ['nord_nord_ouest'], ['sud_sud_est'], ['sud_est_est'], ['sud_sud_ouest'], ['sud_ouest_ouest']]),
    include_blank: true, class: "form-control col-sm-4" %>
  </div>
  <div class="form-group row">
  <%= form.label :image, class:"col-sm-2 col-form-label" %>
  <%= form.file_field :image, class:"upload-preview form-control col-sm-4" %>
  </div>

  <div class="form-group row">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
