<h1>Editing Test Intervention</h1>
<%= form_with(model: @test_intervention, local: true) do |form| %>
    <% if @test_intervention.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(test_intervention.errors.count, "error") %> prohibited this test_intervention from being saved:</h2>
  
        <ul>
        <% test_intervention.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address %>
    </div>
  
    <div class="field">
      <%= form.label :bat %>
      <%= form.text_field :bat %>
    </div>

  
    <div class="field">
      <%= form.label :orientation %>
      <%= form.select :orientation, options_for_select([['nord'], ['sud'], ['est'], ['ouest'], ['nord_est'], ['nord_ouest'], ['nord_est_est'], ['nord_nord_est'], ['nord_ouest_ouest'], ['nord_nord_ouest'], ['sud_est'], ['sud_ouest'], ['sud_sud_est'], ['sud_est_est'], ['sud_sud_ouest'], ['sud_ouest_ouest']],selected: @test_intervention.orientation || nil),
      include_blank: true, class:'form-control m-b' %>
    </div>

  <%if admin_signed_in? %>
      <div class="field" >
      <%= form.label :state %>
      <%= form.select :state, options_for_select([['en attente'], ['en cours'], ['finis'], ['refuser']],selected: @test_intervention.state),
      include_blank: true, class:'form-control m-b' %>
    </div>

    <div class="field">
    <%= form.label :raison %>
    <%= form.text_field :raison %>
  </div>
  <%end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image%>
  </div>

    
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  
<%= link_to 'Show', @test_intervention %> |
<%= link_to 'Back', test_interventions_path %>
