<p id="notice"><%= notice %></p>

<h1>Test Interventions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <% if admin_signed_in? %>
      <th scope="col">user</th>
      <% end %>
      <th scope="col">Address</th>
      <th scope="col">Bat</th>
      <th scope="col">Orientation</th>
      <th scope="col">Photo</th>
      <th scope="col">State</th>
      <th scope="col">Raison</th>
      <th scope="col">Startdate</th>
      <th scope="col">Endate</th>

      <th colspan="3">action</th>
    </tr>
  </thead>

  <tbody>
    <% @test_interventions.each do |test_intervention| %>
      <tr>
        <% if admin_signed_in? %>
        <td ><%= test_intervention.user.email %></td>
          <% end %>
        <td><%= test_intervention.address %></td>
        <td><%= test_intervention.bat %></td>
        <td><%= test_intervention.orientation %></td>
        <%if test_intervention.image_url(:small) != nil %>
        <td><%= image_tag test_intervention.image_url(:small) %> </td>
        <%end %>
        <td><%= test_intervention.state %></td>

          <td><%if test_intervention.state == "refusé" %><%= test_intervention.raison %><% end %></td>



          <td> <%if test_intervention.state == "accepter" %><%= test_intervention.agenda[:start] %><% end %></td>
          <td> <%if test_intervention.state == "accepter" %><%= test_intervention.agenda[:end] %><% end %></td>


        <td><%= link_to 'Show', test_intervention %></td>
        <td>
          <%if test_intervention.state == "en attente" or admin_signed_in?%>
          <%= link_to 'Edit', edit_test_intervention_path(test_intervention) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Intervention', new_test_intervention_path %>
