<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @test_intervention.address %>
</p>

<p>
  <strong>Bat:</strong>
  <%= @test_intervention.bat %>
</p>
<p>
  <strong>Orientation:</strong>
  <%= @test_intervention.orientation %>
</p>

<p>
  <strong>State:</strong>
  <%= @test_intervention.state %>
</p>

<p>
  <strong>Raison:</strong>
  <%= @test_intervention.raison %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @test_intervention.agenda[:start] %>
</p>

<p>
  <strong>Endate:</strong>
  <%= @test_intervention.agenda[:end] %>
</p>

<div>
  <%= image_tag @test_intervention.image_url(:large) %>
  <!--%= link_to @test_intervention.image_url %-->
</div>

<%= link_to 'Back', test_interventions_path %>
