<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>



  <div class="form-group">
    <%= f.label :email, class: 'col-sm-4 control-label'  %>
    <div class="col-sm-4">
      <%= f.email_field :email, class: 'form-control'  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'col-sm-4 control-label'  %>
    <div class="col-sm-4">
      <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :password_confirmation, class: 'col-sm-4 control-label' %>
    <div class="col-sm-4">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :current_password, class: 'col-sm-4 control-label' %>
     <div class="col-sm-4">
       <i>(we need your current password to confirm your changes)</i>
       <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :nom, class: 'col-sm-4 control-label'  %>
    <div class="col-sm-4">
      <%= f.text_field :nom, autofocus: true, class: 'form-control'  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :prenom, class: 'col-sm-4 control-label'  %>
    <div class="col-sm-4">
      <%= f.text_field :prenom, autofocus: true, class: 'form-control'  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :phone, autocomplete: true, class: "form-control" %>
    </div>
  </div>
 
  
  <div class="field">
      <%= f.label :blacklisted %>
      <%= f.select :blacklisted, options_for_select(['true', 'false'],selected: @user.blacklisted),
      include_blank: true, class:'form-control' %>
    </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= render "users/shared/links" %>
    </div>
  </div>
<% end %>

<h5>Cancel my account</h5>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-default btn-xs' %></p>

<%= link_to "Back", :back %>