<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group row">
    <%= f.label :email, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-2">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-2">
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password_confirmation, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-2">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :nom, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-2">
      <%= f.text_field :nom, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :prenom, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-2">
      <%= f.text_field :prenom, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :phone, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-2">
      <%= f.text_field :phone, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-2">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
      <%= render "users/shared/links" %>
    </div>
  </div>

<% end %>